@media screen and (min-width: 100px) {
  .container {
    max-width: 100%;
    margin: auto;
  }

}

@media screen and (min-width: 540px) {
  .container {
    max-width: 540px;
    margin: auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media screen and (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
